body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #444;
    background: #F0F0F0;
    line-height: 1em;
}

body > div {
    position: relative;
}

.hidden {
    display: none;
}

.panel {
    position: relative;
    width: 400px;
    padding: 20px;
    background: white;
    border-radius: 3px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);
}

h1 {
    font-size: 12pt;
}

h2 {
    font-size: 11pt;
}

.info p {
    font-size: 8pt;
}

.viewer {

    position: relative;

    padding: 10px;

    text-align: center;
    background: #F0F0F0;
    border: 1px solid #DDD;
}

.product-view-selector,
.product-appearances {
    margin: 0;
    padding: 0;
    list-style: none;

    position: absolute;
    top: 5px;
}

.product-view-selector li {
    border: 1px solid #EBEBEB;
    margin: 3px 0;
    background: #F9F9F9;
}

.product-view-selector li.active {
    background: white;
    border: 1px solid #8ABA56;
}

.product-view-selector li:hover {
    background: white;
}

.product-appearances {
    right: 5px;
    width: 60px;
    column-width: 30px;
    overflow: hidden;
}

.product-appearances li {
    float: right;
    margin: 3px;
    border: 1px solid white;
    width: 15px;
    height: 15px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.product-appearances img {
    width: 15px !important;
}

.product-appearances li.active {
    border: 1px solid #8ABA56;
}

.product-type-selector {
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline-block;
}

.product-types {
    vertical-align: top;
}

.product-types .previous-page,
.product-types .next-page {
    display: block;
    position: absolute;
    border: 1px solid #EBEBEB;
    height: 50px;
    width: 20px;
    top: 0;
}

.product-types .next-page {
    right: 0;
    background: url(img/next.png) no-repeat center center;
}

.product-types .previous-page {
    background: url(img/prev.png) no-repeat center center;
}

.product-types .previous-page.hidden,
.product-types .next-page.hidden {
    opacity: 0.3;
}

.product-types {
    margin: 5px 0;
    position: relative;
    height: 50px;
    text-align: center;
}

.product-type-selector li {
    display: inline-block;
    border: 1px solid #EBEBEB;
    margin: 0 3px;
    height: 50px;
    background: #F9F9F9;
}

.product-type-selector li.active {
    border: 1px solid #8ABA56;
}

.product-type-selector span {
    display: none;
}

.panel > h2 {
    margin: 0;
    position: absolute;
    top: 2px;
    right: 20px;
    color: lightgray;
}

.texttool {
    position: absolute;
    top: 0;
    left: 450px;
    width: 300px;
}

.upload {
    position: absolute;
    top: 0;
    left: 800px;
    width: 338px;
}

.image-upload {
    height: 300px;
    background: #F0F0F0;
    border: 1px solid #DDD;
    position: relative;
}

.image-upload ul {

    list-style: none;
    margin: 0;
    padding: 0;
    overflow: auto;
    height: 320px;
}

.upload .upload-notice {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    text-align: center;
}

.image-upload li {
    border: 1px solid #EBEBEB;
    margin: 2px;
    padding: 3px;
    background: white;
    float: left;
    height: 100px;
    width: 100px;
    overflow: hidden;
    text-align: center;
    vertical-align: middle;
    line-height: 97px;
}

.image-upload img {
    vertical-align: middle;
    max-width: 100px;
    max-height: 100px;
}